Repository Screwloose-Games/solar-punk-jam, pull requests merged in 2025-05, with the labels that each got.

#52 add dynamic music system
  common/audio/music/m_44_83bmp_f_overworld_main_lp.ogg
  common/audio/music/m_44_83bmp_f_overworld_main_lp.ogg.import
  common/audio/music/m_44_83bmp_f_overworld_woods_lp.ogg
  common/audio/music/m_44_83bmp_f_overworld_woods_lp.ogg.import
  components/dynamic_music_box/d_music_box.gd
  components/dynamic_music_box/d_music_box.gd.uid
  design/audio-systems/dyn-music.excalidraw.json
  globals/DynamicMusic.gd
  globals/DynamicMusic.gd.uid
  globals/DynamicMusic.tscn
  project.godot
  test/scenarios/test_dynamic_music/d_music_test_level.gd
  test/scenarios/test_dynamic_music/d_music_test_level.gd.uid
  test/scenarios/test_dynamic_music/d_music_test_level.tscn
  test/scenarios/test_dynamic_music/test_dynamic_synced_calls.gd
  test/scenarios/test_dynamic_music/test_dynamic_synced_calls.gd.uid
  test/scenarios/test_dynamic_music/test_dynamic_synced_calls.tscn
Labels: audio, music, programming

#75 add SoundEffectPlayer3D
  components/interact_notify.gd
  components/sound_player_3d/sound_player_3d.gd
  components/sound_player_3d/sound_player_3d.gd.uid
  design/audio-systems/spatial-sfx.excalidraw.json
  test/scenarios/test_sound_player_3d/sp3d_test_level.gd
  test/scenarios/test_sound_player_3d/sp3d_test_level.gd.uid
  test/scenarios/test_sound_player_3d/sp3d_test_level.tscn
  test/scenarios/test_sound_player_3d/sp3d_test_npc.gd
  test/scenarios/test_sound_player_3d/sp3d_test_npc.gd.uid
  test/scenarios/test_sound_player_3d/sp3d_test_npc_trin.tscn
Labels: audio, programming, sfx

#93 Add new P0 UI sounds
  common/audio/sfx/ui/UI_CLICK.wav
  common/audio/sfx/ui/UI_CLICK.wav.import
  common/audio/sfx/ui/UI_QUEST_ACCEPT.wav
  common/audio/sfx/ui/UI_QUEST_ACCEPT.wav.import
  common/audio/sfx/ui/UI_QUEST_COMPLETE.wav
  common/audio/sfx/ui/UI_QUEST_COMPLETE.wav.import
  common/audio/sfx/ui/UI_TASK_COMPLETE-001.wav
  common/audio/sfx/ui/UI_TASK_COMPLETE-001.wav.import
  common/audio/sfx/ui/UI_TASK_COMPLETE-002.wav
  common/audio/sfx/ui/UI_TASK_COMPLETE-002.wav.import
  common/audio/sfx/ui/UI_TASK_COMPLETE-003.wav
  common/audio/sfx/ui/UI_TASK_COMPLETE-003.wav.import
Labels: audio, sfx

#95 add global sound manager, add ui sound elements to pause menu
  common/ui/main_menu/SFX/main_menu_audio.gd
  globals/SoundManager.gd
  globals/SoundManager.gd.uid
  globals/SoundManager.tscn
  project.godot
Labels: audio, integration, programming, sfx, ui
